%h1 Listing Show dont tells
%table
  %thead
    %tr
      %th Name
      %th Description
      %th{ colspan: 3 }
    %tbody
      = render @show_dont_tell
%br
= link_to 'New show dont tell', new_show_dont_tell_path
